body {
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #FFF;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #e07d0d;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
h1 {
    width: 100%;
    text-align: center;
    color: orange;
}
h3 {
    float: right;
}
.backend-form input{
    margin: 0 auto;
}

body {
    color: white;
    margin: 15px !important;
}
.btn-primary {
    color: #000;
    background-color: #FFA500;
    border-color: #357ebd;
}
.panel-primary>.panel-heading {
    color: #000;
    background-color: #FFA500;
    border-color: #428bca;
}
a {
    color: #FFA500;
    text-decoration: none;
}